{% extends 'base.html' %}

{% block content %}
<!-- PAGE D'ACCUEIL - TEST UNIQUE -->
<div class="container py-5">
    <div class="text-center">
        <h2>Bienvenue sur Bibliotech</h2>
        <p class="lead">
            Consultez notre catalogue numérique, explorez les ouvrages disponibles, ajoutez vos livres favoris et prenez rendez-vous pour les consulter sur place.
        </p>
        <a href="{% url 'catalogue' %}" class="btn btn-outline-lightgreen btn-lg mt-4">Explorez notre catalogue</a>
    </div>
</div>
{% endblock %}

